<launch>
  <!-- World -->
  <include file="$(find final_project)/launch/world.launch"> 
  </include>

  <!-- Online Navigation -->
  <include file="$(find final_project)/launch/navigation.launch"> 
  </include>

  <!-- Waypoint Planning --> 
  <include file="$(find final_project)/launch/waypoint_planning.launch"> 
  </include>

  <!-- <node name="turtle" pkg="final_project" type="turtle.py" output="screen"></node>

  <node name="battery_manager" pkg="final_project"></node>   -->

</launch>